@import "../../../public/base-styles.scss";

.main {
  width: 100%;
  padding: 24px 0px;

  &_products {
    width: 70%;
    display: flex;
    gap: 24px;
    margin: 0 auto;

    &-card {
      padding: 0px 14px 14px 14px;
      max-height: 358px;
      max-width: 250px;
      border: solid 2px $white;
      border-radius: 20px;
      background-color: $white;

      &-picture {
        position: relative;
        max-height: 358px;
        max-width: 250px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
      &-name {
        margin-top: 12px;
      }
      &-rating {
        margin: 4px 0 16px;
        max-width: 76px;
      }
      &-price {
        padding: auto;
      }
    }
  }
}
