@import "../../../public/base-styles.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &_logo {
    width: 150px;
    height: 24px;
    cursor: pointer;
  }

  &_menu {
    display: flex;
    gap: 16px;
  }
  &_cart {
    display: flex;
    align-items: baseline;
    gap: 4px;
    white-space: nowrap;
    font-weight: bold;
  }
}
