@import "../../../public/base-styles.scss";

.main {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 24px 0px;

  &_product {
    @include card-container;
    display: flex;
    gap: 24px;
    width: 45%;
    margin: 0 auto;
    height: auto;
    max-width: 792px;
    padding: 24px;

    &-picture {
      background: url("/img/no-picture.jpg") center / cover no-repeat;
      position: relative;
      width: 50%;
      max-width: 374px;
      max-height: 400px;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    &-info {
      width: 50%;
      &-title {
        @include text-overflow(3);
        font-size: 28px;
        font-weight: 700;
      }
      &-price {
        margin: 20px 0 8px;
        font-size: 30px;
        font-weight: 1000;
      }
      &-return {
        margin: 24px 0 16px;
        &-title {
          position: relative;
          font-size: 18px;
          font-weight: 700;
          padding-left: 28px;

          &::before {
            content: "";
            position: absolute;
            bottom: 15%;
            left: 0%;
            width: 20px;
            height: 20px;
            background-image: url("/img/icons-svg/arrow-reverse.svg");
            background-repeat: no-repeat;
          }
        }
        &-conditions {
          margin: 5px 0 16px;
          font-size: 14px;
        }
      }
      &-prices {
        color: $grey;
        font-size: 12px;
      }
      &-widget {
        display: flex;
        gap: 8px;
      }
      &-widget > * {
        flex: 1;
        width: 50%;
        box-sizing: border-box;
      }
    }
  }

  &_description {
    @include card-container;
    font-size: 14px;
    width: 45%;
    margin: 0 auto;
    margin-top: 24px;
    padding: 24px;
    max-width: 792px;

    h2 {
      font-size: 22px;
    }
  }

  &_return {
    position: absolute;
    top: 0%;
    left: 0%;
  }
}
